/*
 * @require base.css
 */
/*==================== custom bootstrap ====================*/
.y-center-all {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
}

.y-bgfull-md {
    width: 100%;
    padding: 20px 0px 60px 0px;
    height: 60px;
    min-height: 30px;
    background-color: #fff;
}

.y-bgfull-sm {
    width: 100%;
    padding: 20px 0px 60px 0px;
    height: 60px;
    min-height: 30px;
    background-color: #fff;
}

.y-bgfull-lg {
    width: 100%;
    padding: 20px 0px 60px 0px;
    height: 60px;
    min-height: 30px;
    background-color: #fff;
}

.y-card {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    width: 90%;
    height: 280px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: #fefefe;
    text-align: center;
    color: #2f2f2f;
    margin: auto;
    padding-top: 40px;
}

.y-card-default {
    border: solid 2px #555;
    padding: 30px 10px;
    margin: auto;
}

.y-card i {
    font-size: 60px;
    color: #3f3f3f;
}

.y-card a {
    text-decoration: none;
}


