/*
 * @require bootstrap.base.css
 * @require bootstrap.component.css
 */

/*==================== animation ====================*/
.y-animation-bd-cl {
    -webkit-transition: border-color 0.4s ease-out 0s;
    -moz-transition: border-color 0.4s ease-out 0s;
    transition: border-color 0.4s ease-out 0s;
}

.y-animation-bd-cl.y-info:hover,
.y-animation-bd-cl.y-info:focus {
    border-color: #099fdd;
}

.y-animation-color {
    -webkit-transition: color 0.4s ease-out 0s;
    -moz-transition: color 0.4s ease-out 0s;
    transition: color 0.4s ease-out 0s;
}

.y-animation-color.y-info:hover,
.y-animation-color.y-info:focus {
    color: #099fdd;
}

.y-animation-color.y-dark:hover,
.y-animation-color.y-dark:focus {
    color: #555;
}

@keyframes bg-position {
    0% {
        background-position: 0% 84%
    }
    50% {
        background-position: 100% 17%
    }
    100% {
        background-position: 0% 84%
    }
}

.y-animation-bg {
    width: 100%;
    height: 100%;
    background-size: 600% 600%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    animation: bg-position 10s ease infinite;
    transition: -webkit-filter 0.2s ease, background-image 0.2s ease;
}
.y-animation-bg.y-full {
    position: absolute;
}

.y-animation-bg.y-soft {
    background-color: #1c81df;
    background-image: linear-gradient(223deg, rgb(76, 125, 212), rgb(228, 139, 164), rgb(0, 181, 180), rgb(141, 208, 136));
}

.y-animation-bg.y-colorful {
    background-color: #8B00FF;
    background-image: linear-gradient(223deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #00FFFF, #0000FF, #8B00FF);
}

@keyframes shadow-info {
    0% {
        opacity: .5;
        border: 1px solid rgba(59, 235, 235, .1);
        box-shadow: 0 1px 2px rgba(255, 255, 255, .1)
    }
    50% {
        opacity: 1;
        border: 1px solid rgba(59, 235, 235, 1);
        box-shadow: 0 1px 30px rgba(59, 255, 255, 1)
    }
    100% {
        opacity: .5;
        border: 1px solid rgba(59, 235, 235, .1);
        box-shadow: 0 1px 2px rgba(255, 255, 255, .1)
    }
}

.y-animation-shadow-info {
    animation: shadow-info 2s infinite linear;
}
