.table .y-td-xs {
    max-width: 10px;
}

.table .y-td-sm {
    max-width: 50px;
}

.table .y-td-md {
    max-width: 100px;
}

.table .y-td-lg {
    max-width: 324px;
    min-width: 200px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-indent-2 {
    text-indent: 2em;
}

.text-right {
    text-align: right;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}