.v-start {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    height: 500px;
    overflow: hidden;
    text-align: center;
}