<div class="wrapper" id="wrapper">
  <div class="y-notice" id="notice">
    <div class="y-notice-body" id="noticeText">
    </div>
  </div>
  <div class="container">
    <h1 class="y-title">智慧社区运营管理后台</h1>
    <form class="loginForm" id="loginForm">
      <input id="loginUsername" type="text" placeholder="请输入用户名">
      <div id="loginErrorUsername" class="y-input-message"></div>
      <input id="loginPassword" type="password" placeholder="请输入密码">
      <div id="loginErrorPassword" class="y-input-message"></div>
      <button type="button" id="loginButton">登陆</button>
    </form>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
