<div class="box-bg">
  <h1 id="logo"></h1>
  <h2 class="title">智慧社区运营管理后台</h2>
  <div class="login-frame" id="code-frame">
    <p class="top-name">找回密码</p>
    <p class="step1"></p>
    <div class="input-box">
      <input type="text" placeholder="手机号" class="input-data" id="login_user"/>
      <span class="error">错误提示</span>
    </div>
    <div class="input-box">
      <p class="cb">
        <input type="text" placeholder="验证码" class="input-short fl" id="short-code"/>
        <button class="short-btn fr" id="send-num">发送验证码</button>
      </p>
      <span class="error">错误提示</span>
    </div>
    <div class="cb">
      <a href="index.html" class="fr">返回登录</a>
    </div>
    <button class="login-btn" id="next-fleg">下一步</button>
  </div>
  <!--重置密码-->
  <div class="login-frame hide" id="set-pass">
    <p class="top-name">找回密码</p>
    <p class="step2"></p>
    <div class="input-box">
      <input type="password" placeholder="新密码 由6-20位字母、数字或符号组成" class="input-data" id="new-pass"/>
      <span class="error">错误提示</span>
    </div>
    <div class="input-box">
      <input type="password" placeholder="再次确认" class="input-data" id="repeat-pass"/>
      <span class="error">错误提示</span>
    </div>
    <div class="cb">
      <a href="index.html" class="fr">返回登录</a>
    </div>
    <button class="login-btn" id="set-pass-btn">下一步</button>
  </div>
  <div class="login-frame hide" id="jump-frame">
    <p class="succ-word">重置成功，<span id="timer">5秒</span>后将跳转到登录页面</p>
    <a href="index.html">
      <button class="login-btn">马上登录</button>
    </a>
  </div>
</div>
