<div class="box-bg">
  <h1 id="logo"></h1>
  <h2 class="title">智慧社区运营管理后台</h2>
  <div class="login-frame">
    <p class="top-name">登录</p>
    <div class="input-box">
      <i class="iconfont input-icon">&#xe601;</i>
      <input type="text" placeholder="账　号" class="input-data text-in30" id="login_user" maxlength="11"/>
      <span class="error">错误提示</span>
    </div>
    <div class="input-box">
      <i class="iconfont input-icon">&#xe600;</i>
      <input type="password" placeholder="密　码" class="input-data text-in30" id="login_pass" maxlength="20"/>
      <span class="error">错误提示</span>
    </div>
    <!-- <div class="cb">
      <a href="register.html" class="fr">忘记密码</a>
    </div> -->
    <button class="login-btn" id="login-btn">登录</button>
  </div>
</div>
